<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- gz_ros2_control hosts the controller_manager inside the sim process so
       it steps in lockstep with physics. There is no separate
       ros2_control_node when simulating - do not launch one. -->
  <xacro:macro name="build_gazebo" params="controllers_file">
    <gazebo>
      <plugin filename="gz_ros2_control-system"
              name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>${controllers_file}</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
